.theme_light {
    body {
        background-color: #cdd9ed;
        color: #46607d;
    }

    .text-muted {
        color: inherit !important;
        opacity: .6;
    }

    .delimiter {
        padding-top: 3px;
        padding-bottom: 3px;
        text-align: center;
    }

    .logo {
        svg {
            fill: #009FC1;
        }
    }

    .avatar {
        width: 150px;
        height: 150px;
        box-sizing: border-box;
        border: 5px #009FC1 solid;
        border-radius: 50%;
        overflow: hidden;
        margin: 2rem auto 1rem auto;

        img {
            width: 100%;
            height: auto;
        }
    }
}
