.theme_light {
    ul.pagination {
        display: inline-flex;

        li {
            margin: .25rem;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            &.active {
                a {
                    background-color: #009FC1;
                    color: #fff;
                    &:hover, &:focus {
                        background: #009FC1;
                        color: #fff;
                    }
                }


            }

            &.disabled, &.disabled:hover, &.display:visited {

                a {
                    background-color: rgba(238, 244, 255, 0.4);
                }

            }


            a {
                width: 40px;
                height: 40px;
                line-height: 24px;
                border-radius: 100% !important;
                text-align: center;
                background-color: #eef4ff;
                color: inherit;
                border: none;

                &:hover, &:focus {
                    color: #009FC1;
                    background-color: #e4ecfa;
                    outline: 0;
                    box-shadow: none;
                }

            }
        }
    }
}
