.theme_dark {
    .form-control {
        color: inherit;
        background-color: #3A3B3C;
        border: 1px solid #3e4042;

        &:focus {
            color: #fff;
            outline: 0;
            box-shadow: none;
        }
    }

    .structure-block {
        background-color: #26292b;
    }
}
